<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-icon slot="start" name="menu"></ion-icon>
      <ion-img slot="start" src="assets/icons/tellevo-logo.svg" height="32px" width="32px"></ion-img>
      Busqueda de viaje
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon slot="start" name="person-circle-outline"></ion-icon>
          <ion-label>Modelo auto:</ion-label>
          <ion-input type="text" slot="end"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Tarifa:</ion-label>
          <ion-input type="text" slot="end"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Dirección:</ion-label>
          <ion-input type="text" slot="end"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Salida:</ion-label>
          <ion-input type="text" slot="end"></ion-input>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-icon slot="start" name="person-circle-outline"></ion-icon>
          <ion-label>Modelo auto:</ion-label>
          <ion-input type="text" slot="end"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Tarifa:</ion-label>
          <ion-input type="text" slot="end"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Dirección:</ion-label>
          <ion-input type="text" slot="end"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Salida:</ion-label>
          <ion-input type="text" slot="end"></ion-input>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-icon slot="start" name="person-circle-outline"></ion-icon>
          <ion-label>Modelo auto:</ion-label>
          <ion-input type="text" slot="end"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Tarifa:</ion-label>
          <ion-input type="text" slot="end"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Dirección:</ion-label>
          <ion-input type="text" slot="end"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Salida:</ion-label>
          <ion-input type="text" slot="end"></ion-input>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-icon slot="start" name="person-circle-outline"></ion-icon>
          <ion-label>Modelo auto:</ion-label>
          <ion-input type="text" slot="end"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Tarifa:</ion-label>
          <ion-input type="text" slot="end"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Dirección:</ion-label>
          <ion-input type="text" slot="end"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Salida:</ion-label>
          <ion-input type="text" slot="end"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-grid>

  </ion-grid>
</ion-content>

<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="vehiculos">
      <ion-icon name="car-outline"></ion-icon>
      <ion-label>vehículos disponibles</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="programar">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>programar viaje</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>